<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/materialize.css">
    <link rel="stylesheet" href="css/estilo.css">
    <title>Lista de Compras</title>
   
</head>

<body>
    <div>
        <div class="card-panel teal lighten-2">
            <h1>Minha Lista</h1>
        </div>
        <form action="" class="formProduto">
                <p>Produto:</p>
                <input class="nomeProduto" name="produto" placeholder="Digite o produto" />
                <p>Quantidade:</p>
                <input type="number" class="qtd" name="quantidade" placeholder="Digite quantidade">

                <!-- <button class="waves-effect waves-light btn-small" id="addItem">Adicionar Item</button> -->

                <a class="waves-effect waves-light btn-small" id="addItem">Adicionar Item</a>
                <!-- <a class="waves-effect waves-light btn-large">Adicionar a Lista</a> -->
              </form>   
            
    </div>
    <div class="alerta"></div>
    <table id="listarItens" class="striped">
        <thead>
          <tr>
              <th>Produto</th>
              <th>Quantidade</th>
              
            
          </tr>
        </thead>

        <tbody>
        
        
        </tbody>
      </table>

   <script src="js/app.js"></script>
</body>

</html>